body {
	margin: 0px;
	background-image: url("../images/bg.jpg");
	height: 600px; 
	background-position: right;
	background-repeat: no-repeat;
}

#background {
    	width: auto; 
    	height: 100%; 
    	position: fixed; 
	right: 0px;
	top:0;
    	z-index: -1; /* Ensure div tag stays behind content; -999 might work, too. */
}

.stretch {
   	width:100%;
    	height:100%;
}

@font-face {
    	font-family: myFont;
    	src: url(../fonts/AnonymousPro.ttf);
}

.introduction h1{
	color: #696969; /*FF00FF,5F9EA0,B0C4DE,7B68EE*/
	font-family: myFont;
}

#text {
	margin-left:10px;
}

#header {
	color: lightgrey;
	font-family: myFont;
	font-size: 12px;
	margin-left:4px;
}

.introduction {
	font-family: myFont;
	color: gray;
	margin-left:20px;
}

#contacts {
	font-family: Consolas;
}



.element {
	color: gray;
	text-decoration: none;
	font-family: Consolas;
}
 
 
/*Animates typing*/
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
